*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.text-center{
    text-align: center;
}
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    
    color: #eb0e2fe3;
}
 .main-content{
     background-color: #f1f2f6;
padding:2% ;
 }
.footer{
    background-color: #ff4757;
    color: white;
}
.col-4{
    width: 18%;
    background-color: white;
    margin:1%;
    padding: 2%;
    float: left;
}
.clearfix{
    float: none;
 clear: both;
}
.wrapper{
    /* border: 1px solid black; */
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}